<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPostHistoryMapper">

    <resultMap type="SysPostHistory" id="SysPostHistoryResult">
        <id     property="historyId"     column="history_id"    />
        <result property="postId"        column="post_id"       />
        <result property="postCode"      column="post_code"     />
        <result property="postName"      column="post_name"     />
        <result property="postSort"      column="post_sort"     />
        <result property="status"        column="status"        />
        <result property="remark"        column="remark"        />
        <result property="version"       column="version"       />
        <result property="changeType"    column="change_type"   />
        <result property="changeContent" column="change_content"/>
        <result property="beforeData"    column="before_data"   />
        <result property="afterData"     column="after_data"    />
        <result property="operBy"        column="oper_by"       />
        <result property="operTime"      column="oper_time"     />
        <result property="operIp"        column="oper_ip"       />
    </resultMap>

    <sql id="selectPostHistoryVo">
        select history_id, post_id, post_code, post_name, post_sort, status, remark, 
               version, change_type, change_content, before_data, after_data, 
               oper_by, oper_time, oper_ip
        from sys_post_history
    </sql>

    <select id="selectPostHistoryList" parameterType="SysPostHistory" resultMap="SysPostHistoryResult">
        <include refid="selectPostHistoryVo"/>
        <where>
            <if test="postId != null">
                AND post_id = #{postId}
            </if>
            <if test="postCode != null and postCode != ''">
                AND post_code like concat('%', #{postCode}, '%')
            </if>
            <if test="postName != null and postName != ''">
                AND post_name like concat('%', #{postName}, '%')
            </if>
            <if test="changeType != null and changeType != ''">
                AND change_type = #{changeType}
            </if>
            <if test="operBy != null and operBy != ''">
                AND oper_by like concat('%', #{operBy}, '%')
            </if>
            <if test="params.beginOperTime != null and params.beginOperTime != ''">
                AND oper_time &gt;= #{params.beginOperTime}
            </if>
            <if test="params.endOperTime != null and params.endOperTime != ''">
                AND oper_time &lt;= #{params.endOperTime}
            </if>
        </where>
        order by oper_time desc
    </select>

    <select id="selectPostHistoryById" parameterType="Long" resultMap="SysPostHistoryResult">
        <include refid="selectPostHistoryVo"/>
        where history_id = #{historyId}
    </select>

    <select id="selectPostHistoryByPostId" parameterType="Long" resultMap="SysPostHistoryResult">
        <include refid="selectPostHistoryVo"/>
        where post_id = #{postId}
        order by version desc
    </select>

    <select id="selectLatestHistoryByPostId" parameterType="Long" resultMap="SysPostHistoryResult">
        <include refid="selectPostHistoryVo"/>
        where post_id = #{postId}
        order by version desc
        limit 1
    </select>

    <select id="selectMaxVersionByPostId" parameterType="Long" resultType="Integer">
        select max(version) from sys_post_history where post_id = #{postId}
    </select>

    <insert id="insertPostHistory" parameterType="SysPostHistory" useGeneratedKeys="true" keyProperty="historyId">
        insert into sys_post_history(
            post_id, 
            post_code, 
            post_name, 
            post_sort, 
            status, 
            remark,
            version, 
            change_type, 
            change_content, 
            before_data, 
            after_data,
            oper_by, 
            oper_time, 
            oper_ip
        )values(
            #{postId}, 
            #{postCode}, 
            #{postName}, 
            #{postSort}, 
            #{status}, 
            #{remark},
            #{version}, 
            #{changeType}, 
            #{changeContent}, 
            #{beforeData}, 
            #{afterData},
            #{operBy}, 
            #{operTime}, 
            #{operIp}
        )
    </insert>

    <delete id="deletePostHistoryByIds" parameterType="Long">
        delete from sys_post_history where history_id in
        <foreach collection="array" item="historyId" open="(" separator="," close=")">
            #{historyId}
        </foreach>
    </delete>

</mapper>
